<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        <div>caption: <input name="caption"></div>
        <div>detail: <input name="detail"></div>
        <div>picture: <input name="photo" type="file"
            accept="image/jpeg, image/png"></div>
        <button>Upload</button>
     </form>
</body>
</html>