<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <% 
        const fieldnames = [];
        fields.forEach(element => {
            fieldnames.push(element['name']);
        });

        const im = img.map( e => {
            return e['id'];
        });

        const created = img.map( e => {
            return e['created_at'];
        });

        const like = likes.map( e => {
            return e['COUNT(*)'];
        });

        const comment = comments.map( e => {
            return e['COUNT(*)'];
        });
    %>
    <% for (i in im) { %>
        <img src="images/<%= im[i] %>" width="23%">
    <% } %>
    <br>
    <% for (i in im) { %>
        <%= Number(i)+1 %>
        <%= postBy[i]['email'] %>
        <%= created[i] %>
        <%= like[i] %>
        <%= comment[i] %>
        <br>
    <% } %>

    <table>
        <th>
            <% fieldnames.forEach(name => { %>
                <td><%= name %></td>
            <% }); %>
        </th>        
    <% rows.forEach(row => { %>
        <tr>
            <% Object.keys(row).forEach(prop => { %>
                <td><%= row[prop] %></td>
            <% }); %>
        </tr>
    <% }); %> 

    <button onclick="myF()">logout</button>
</body>
</html>

<script>
    myF = () => {fetch('/api/v1/auth/signout', {method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        }
                    }).then(function(response) {
                        console.log(response)
                        return response;
                    }).catch(error => console.error(error));
                }
</script>