<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
</head>
<body>
    <form method="POST">
        <div>username: <input name="username"></div>
        <div>password: <input type="password" name="password"></div>
        <button>Register</button>
    </form>
</body>
</html>